input[type="button"]{
    width:90%;
    height: 50px;
    padding: auto 0;
    background-color:black;
    color: white;
    font-size: 40px;
}
input[type="text"]{
    width:95%;
    height:50px;
    font-size: 40px;
    border-width: 5px;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color:powderblue;
    font-family: Arial, sans-serif;
    background-image:url('https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDI0LTAxL3Jhd3BpeGVsb2ZmaWNlM19waG90b19vZl9hYnN0cmFjdF9ibGFja19ncm9tZXRyeV9zaW1wbGVfYmxhY2tfYl9iYTczMGU0NS1lMjU2LTQwZTctOTIyOS1jNGMzMWVmNzQwYWVfMS5qcGc.jpg' );
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
}
table {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    text-align: center;
    width:400px;
    height:400px;
}